<%-include("./partials/header.ejs") %> 
<main class="container">
    <% if(locals.post) { %>
        <% post.forEach((p)=> { %>
    <article class="blog-post text-center py-4" data-id="<%=p.id %> ">
        <h2 class="display-1 mb-1"><%=p.title%></h2>
        <h3 class="display-6 text-muted"><%=p.subtitle%></h3>
        <p class="text-muted">
          <%=p.date %> 
          by <a class="link-offset-2 link-underline link-underline-opacity-0 text-muted" href="#"><%=p.author %></a>
        </p>
        <p><%=p.description%></p>
      </article>
      <% }) %> 
            <% } else { %>
              <span>No posts to show</span>
          <% } %> 
         
</main>
<%-include("./partials/footer.ejs") %> 